{% extends "base.html" %}
{% block title %} Welcome | Rejul Thakur{% endblock title %}

{% load static %}
{% block start %}

    <section class="hero-section mt-5 m-2">
        {% if messages %}
        {% for message in messages %}
        <div class="alert w-100 align-items-center mt-3 alert-{{message.tags}}" role="alert">
            <h6 class="container w-50 text-center">{{message}}</h6>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            {% for i in resume %}
            <div class="rejul-intro col-12 col-lg-6 mt-5">
                <h1>Hey, I'm <span class="fname">Rejul Thakur</span></h1>
                <p class="p-3">As an aspiring Full Stack Python/Django Developer, I am passionate about building scalable and
                    efficient web applications. With hands-on experience in Python, Django, and modern web technologies, I am
                    ready to bring innovative solutions to the development world.</p>
                <div class="hero-buttons">
                    <a href="{{i.file.url}}" download="Rejul_Resume.pdf" id="btn"
                        class="btn btn-primary">Download Resume</a>
                    <a href="/contact/" class="btn btn-secondary">Contact Me</a>
                </div>
            </div>
            {% endfor %}
            {% for i in profile %}
            <div class="col-12 col-md-6 col-lg-6 mt-1 profile">
                <img src="{{i.image1.url}}" class="img-thumbnail image">
            </div>
            {% endfor %}
        </div>
    </section>
    <hr class="m-0">



    <!-- About Section -->
     <section class="container-fluid pt-5 pb-5 About-section" data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%">
        <div id="scrollspyAbout">
            <h1 class="text-center">About</h1>
            <p class="container fs-5 mb-0 pb-1 pt-4">I’m Rejul Thakur, an aspiring Full Stack Developer specializing
                in Python, Django, and modern web technologies. My journey into web development has been fueled by a
                passion for problem-solving and a desire to create innovative digital solutions. From crafting seamless
                front-end designs with HTML, CSS, Bootstrap, and JavaScript to developing robust back-end
                functionalities using Python,Django,MYSQL I aim to deliver applications that are efficient, scalable,
                and user-friendly.</p>
        </div>
        <div class="container text-center pt-3">
            <a class="btn about-a" href="/about/">Read more</a>
        </div>
    </section> 



    <hr class="m-0">


    <!-- Education Section -->
    <section class="container-fluid Education-section mt-4 mb-3 p-3" data-bs-spy="scroll"
        data-bs-root-margin="0px 0px -40%">
        <div class="container" id="scrollspyEducation">
            <h1 class="text-center education">Education/Skills</h1>
            <hr class="w-100 mt-5 mb-0 bg-dark">
            <div class="row justify-content-center flex-wrap mt-5">
                <div class="col-12">
                    <form method="post" action="/education/" class="d-flex justify-content-center flex-wrap gap-3">
                        {% csrf_token %}
                        {% for i in education %}
                        <div class="card m-1" id="card" style="width: 25rem;">
                            <div class="card-body">
                                <h5 class="card-title text-info mb-3">{{i.title}}</h5>
                                <p class="card-text mb-2"><strong>School/Collage :</strong> {{i.school_name}}</p>
                                <p class="card-text mb-2"><strong>University/Board :</strong> {{i.university_name}}</p>
                                <p class="card-text mb-2"><strong>Location :</strong> {{i.location}}</p>
                                <a href="/education/" class="btn btn-outline-info">Learn More</a>
                            </div>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <div class="text-center m-3 mt-5">
                <a class="btn btn-outline-info text-white justify-content-center px-4 py-2" id="skill"
                    href="/education/" role="button">Explore Skills</a>
            </div>
        </div>
    </section>


    <hr class="m-0">

    <!-- Projects Section -->
    <section class="container-fluid mt-5 p-3">
        <div class="container">
            <h1 class="text-center">Projects</h1>
            <div class="row justify-content-center flex-wrap mt-4 gap-5">
                {% for i in projects %}
                <div class="card p-0 bg-primary-subtle shadow-lg" style="width: 25rem;">
                    <img src="{{i.image.url}}" class="img-thumbnail" alt="...">
                    <div class="card-body p-3">
                      <h6 class="card-text">{{i.heading}}</h6>
                    </div>
                    <ul class="list-group border border-0">
                      <li class="list-group-item bg-primary-subtle"><b>Frontend: </b>{{i.front}}</li>
                      <li class="list-group-item bg-primary-subtle"><b>Backend: </b>{{i.back}}</li>
                      <li class="list-group-item bg-primary-subtle"><b>Database: </b>{{i.database}}</li>
                    </ul>
                    <div class="card-body p-3">
                        <p class="card-text lh-sm">{{i.description | truncatechars:150 }}</p>
                      </div>
                    <div class="card-body text-center">
                      <a href="/projects/" class="btn btn-primary">Learn More About This Project</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center m-3 mt-5">
                <a class="btn btn-outline-info text-white justify-content-center px-4 py-2" id="skill"
                    href="/projects/" role="button">Explore More Projects</a>
            </div>
        </div>
    </section>

    <hr class="mt-5">

    <div class="container d-flex justify-content-center align-items-center mt-5 pt-5" style="min-height:100vh;">
        <div class="container rounded shadow-lg form w-100" style="max-width: 800px">
            <h1 class="text-center pt-5 mb-4">Get In Touch</h1>
            <form class="row gap-3" method="POST">
                {% csrf_token %}
                <div class="col-12 mt-4 col-md-6 form-content">
                    {{ form.as_p }}
                </div>
                <div class="col-12 mb-5 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>  


 {% endblock %}