{% extends "base.html" %}
{% block title %} Projects | Rejul Thakur | Portfolio {% endblock title %}
{% load static %}
{% block start %}

 
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center mt-5 text-warning">Projects</h1>
        </div>
    </div>
    <section class="mt-5">
        <div class="row justify-content-center flex-wrap mt-4 gap-5">
            {% for i in projects %}
            <div class="card p-0 bg-primary-subtle shadow-lg" style="width: 25rem;">
                <img src="{{i.image.url}}" class="img-thumbnail" alt="...">
                <div class="card-body p-3">
                  <h6 class="card-text">{{i.heading}}</h6>
                </div>
                <ul class="list-group border border-0">
                  <li class="list-group-item bg-primary-subtle"><b>Frontend: </b>{{i.front}}</li>
                  <li class="list-group-item bg-primary-subtle"><b>Backend: </b>{{i.back}}</li>
                  <li class="list-group-item bg-primary-subtle"><b>Database: </b>{{i.database}}</li>
                </ul>
                <div class="card-body p-3">
                    <p class="card-text lh-sm">{{i.description}}</p>
                  </div>
                <div class="card-body text-center">
                  <a  href="#scrollspyProjects" class="btn btn-primary">Learn More About This Project</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <div class="container-fluid p-0 mt-5" data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%">
        <hr class="mt-5">
        {% for i in projects %}
        <h1 class="text-center mt-5 text-warning text-decoration-underline">{{i.title}}</h1>
        <div class="row mt-5" id="scrollspyProjects">
            <div class="col-12 col-md-6">
                <img src="{{i.image1.url}}" class="img-fluid w-100" alt="...">
            </div>
            <div class="col-12 col-md-6 pt-2">
                <p class="card-text fs-5">{{i.description1}}</p>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <p class="card-text fs-5">{{i.description2}}</p>
            </div>
            <div class="col-12 col-md-6 pt-2">
                <img src="{{i.image2.url}}" class="img-fluid w-100" alt="...">
            </div>
        </div>
        <hr class="mt-5">
        <div class="row mt-5" id="scrollspyProjects">
            <div class="col-12 col-md-6">
                <img src="{{i.profile.url}}" class="img-fluid w-100" alt="...">
            </div>
            <div class="col-12 col-md-6 pt-2">
                <p class="card-text fs-5">{{i.profile_description}}</p>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <p class="card-text fs-5">{{i.product_description}}</p>
            </div>
            <div class="col-12 col-md-6 pt-2">
                <img src="{{i.product.url}}" class="img-fluid w-100" alt="...">
            </div>
        </div>
        <hr class="mt-5">
        <div class="row mt-5" id="scrollspyProjects">
            <div class="col-12 col-md-6">
                <img src="{{i.product_detail.url}}" class="img-fluid w-100" alt="...">
            </div>
            <div class="col-12 col-md-6 pt-2">
                <p class="card-text fs-5">{{i.product_detail_description}}</p>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <p class="card-text fs-5">{{i.cart_description}}</p>
            </div>
            <div class="col-12 col-md-6 pt-2">
                <img src="{{i.cart.url}}" class="img-fluid w-100" alt="...">
            </div>
        </div>
        <hr class="mt-5">
        <div class="row mt-5" id="scrollspyProjects">
            <div class="col-12 col-md-6">
                <img src="{{i.wishlist.url}}" class="img-fluid w-100" alt="...">
            </div>
            <div class="col-12 col-md-6 pt-2">
                <p class="card-text fs-5">{{i.wishlist_description}}</p>
            </div>
        </div>
        <hr class="mt-5 pt-5">
        {% endfor %}
    </div>

    <div class="text-center m-3 mt-5">
        <a class="btn btn-outline-danger justify-content-center px-4 py-2" href="/home/" role="button">Home</a>
    </div>
</div>







{% endblock start %}